.header{
    height: 75px;
    background-color: darkslategray;
    padding-top: 25px;
    padding-left: 320px;
}


.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
} 


.hbtn i {
    padding-right: 8px;
} 


.hb-fill-middle2-bg-br::before {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: auto;
    width: 0px;
    height: 100%;
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
} 


.hb-fill-middle2-bg-br:hover::before {
    width: 50%;
    height: 100%;
    opacity: 1;
} 


.hb-fill-middle2-bg-br {
    background: transparent;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
} 


.hb-fill-middle2-bg-br:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
} 


.hb-fill-middle2-bg-br::after {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    width: 0px;
    height: 100%;
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
} 


.hb-fill-middle2-bg-br:hover::after {
    width: 50%;
} 


.hbor3 {
    border-width: 3px;
} 


.hbor3::before {
    border-width: 3px !important;
} 


.hpill {
    border-radius: 50px;
} 

